---
import { Image } from "astro:assets";
import PillBadge from "../ui/PillBadge.astro";
import type { CollectionEntry } from "astro:content";
import { formatDateTime } from "@/lib/utils";

type Props = {
  content: CollectionEntry<"blog">["data"];
  minRead: string;
};

const { content, minRead } = Astro.props;
const {
  title,
  pubDate,
  description,
  heroImage,
  author,
  authorImage,
  authorBio,
  tags,
} = content;
---

<header class="my-16 max-w-screen-lg mx-4 md:mx-auto lg:px-20">
  <div class="flex flex-col gap-4">
    <div
      class="text-text-brand-secondary font-baijamjuree font-semibold text-sm md:text-md"
    >
      {formatDateTime(pubDate)} • {minRead}
    </div>
    <h1
      class="text-display-md md:text-display-lg font-bold font-sans text-text-primary"
    >
      {title}
    </h1>
  </div>
  <div class="flex flex-col md:flex-row gap-8 lg:gap-12">
    <div class="pt-8 lg:pb-8 flex flex-col gap-8 lg:gap-12 grow">
      <p class="my-0">
        {description}
      </p>
      <div class="flex gap-4">
        <div>
          <Image
            class="rounded-full my-0"
            src={authorImage}
            alt="Avatar"
            width={56}
            height={56}
          />
        </div>
        <div>
          <div class="text-text-primary text-lg font-semibold">
            {author}
          </div>
          <div class="text-text-tertiary text-md">{authorBio}</div>
        </div>
      </div>
      <div class="flex gap-2 flex-wrap">
        {
          tags.map((tag) => (
            <PillBadge size="md" color="brand">
              {tag}
            </PillBadge>
          ))
        }
      </div>
    </div>
    <div class="w-fit shrink-0 self-center">
      <Image
        class="my-0"
        src={heroImage}
        alt="Hero image"
        width={400}
        height={300}
      />
    </div>
  </div>
</header>
