---
import { Button } from "@/components/ui/button";
import { Icon } from "astro-icon/components";
import BlogCard from "../blog/BlogCard.astro";

import { getCollection } from "astro:content";
import { formatBlogPost, getBlogData } from "@/lib/utils";

const allBlogs = await getCollection("blog");
const filteredBlogs = formatBlogPost(allBlogs, 3);
const data = filteredBlogs.map(getBlogData);
---

<section class="recent-blog">
  <header><h2>Recent blog posts</h2></header>
  <div class="contents">
    {
      data.map((blogData, index) => (
        <BlogCard
          title={blogData.title}
          author={blogData.author}
          slug={blogData.slug}
          pubDate={blogData.pubDate}
          description={blogData.description}
          tags={blogData.tags}
          imageSource={blogData.heroImage!}
          imageAlt={blogData.heroImageAlt!}
          mostRecent={index === 0}
        />
      ))
    }
  </div>

  <a href="/blog" class="mx-auto">
    <Button size="link_lg" variant="link_color">
      Read all blogs <Icon name="untitled/arrow-right" />
    </Button>
  </a>
</section>

<style>
  .recent-blog {
    @apply flex flex-col gap-8 px-8;
  }

  .recent-blog header {
    @apply text-display-xs font-bold text-text-primary;
  }

  .recent-blog .contents {
    @apply grid gap-8;

    @apply grid-cols-1;

    @apply md:grid-cols-3 md:grid-rows-1;
    @apply xl:grid-cols-2 xl:grid-rows-2;
  }
</style>
